@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: thin;
  /* scrollbar-color: #81271b #F2D6C0; */
  scrollbar-color: #4db6ac #e0f2f1;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  /* background: #F2D6C0;  */
  background: #F2D6C0; 
}

html::-webkit-scrollbar-thumb {
  /* background-color: #FDDBD8;  */
  background-color: #4db6ac; 
  border-radius: 20px;
  /* border: 3px solid #F2D6C0;  */
  border: 3px solid #e0f2f1; 
}
